.app-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;

    @media (max-width: 600px) {
      width: 120px;
    }
  }
}
