<div class="graph" (window:resize)="onResize()">

  <app-info-box *ngIf="!pieChartData || (pieChartData && !pieChartData.length)"
                message="Оцените сферы своей жизни от 1 до 10 по степени удовлетворенности, чтобы увидеть график"></app-info-box>

  <div *ngIf="(pieChartData && pieChartData.length)" class="graph-title">Ваш результат</div>

  <canvas baseChart
          *ngIf="pieChartData && pieChartData.length"
          class="graph-canvas"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
</div>
