<div class="background"
     [class.scale-out-center]="isClosed"
     [class.scale-in-center]="!isClosed">
  <mat-card class="entry-card scale-in-center mat-elevation-z8" (click)="$event.stopPropagation()">

    <mat-card-header class="entry-card-header">
      <div mat-card-avatar class="entry-card-header-image"></div>
      <mat-card-title>Специалист</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="https://goal-life.com/img/main/page/method/koleso/wheel_life_online.png" alt="life circle">

    <mat-card-content>
      <p class="entry-card-text">
        <span class="entry-card-text-title">Метод «8 сфер жизни» позволяет:</span>

        <mat-list>
          <mat-list-item> прояснить, что для вас главное в жизни, а что нет;</mat-list-item>
          <mat-list-item> выявить «Что со мной не так?»;</mat-list-item>
          <mat-list-item> осознать насколько вы счастливы, и как это улучшить;</mat-list-item>
          <mat-list-item> направить ваше внимание и усилия на решение проблемных мест.</mat-list-item>
        </mat-list>

      </p>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="isClosed = true" mat-stroked-button mat-button>Попробовать!</button>
    </mat-card-actions>

  </mat-card>
</div>
