<div class="mat-app-background app">
  <app-header (changeThemeEvent)="onThemeChanged($event)" [openInfo$]="openInfo$"></app-header>

  <app-entry-card [openInfo$]="openInfo$"></app-entry-card>

  <main class="content">
    <div class="container">

      <div class="form-wrapper">
        <app-spheres-form [graph$]="graph$"></app-spheres-form>
      </div>

      <div class="graph-wrapper">

        <app-spheres-descr></app-spheres-descr>

        <app-graph [graph$]="graph$"></app-graph>

      </div>

    </div>
  </main>

</div>
