.info-box {
  display: flex;
  height: 150px;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  overflow: hidden;
  font-weight: 500;
  margin-left: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(#673ab7, .2);

  @media(max-width: 1001px) {
    margin-left: 0;
  }

  &_message {
    margin: auto;

    @media(max-width: 1001px) {
      line-height: 1.2;
    }
  }
}
