<mat-accordion class="spheres-descr">

  <mat-expansion-panel class="spheres-descr_ex-panel" hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        Описание сфер жизни
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p class="spirit">
      <span class="spheres-descr_ex-panel_bold">Духовность</span> - Есть ли у Вас на текущий момент цель своей жизни? Возможно, в религии, воспитании детей и тд
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Семья (отношения)</span> - все ли устраивает Вас в ваших семейных отношениях или Ваш партнер.
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Здоровье</span> - устраивает ли Вас питание, сон, секс. Есть ли у вас энергия для каких-либо занятий спортом и тд.
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Работа</span> - насколько вы удовлетварены своей работой? Хороший ли у вас оклад, чувствуете ли Вы себя важным на работе, выбирали ли вы её сами или пошли куда получилось
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Отдых</span> - прогулки на свежем воздухе ...
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Друзья</span> - есть ли у Вас друзья? Как часто вы видетесь. На сколько хорошо вы чувствуете себя от принадлежности к этим людям?
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Хобби</span> - есть ли у Вас такие любимые занятия, которые приност душевное удовольствие. То, что, возможно, не улучшит Вашу жизнь, но Вы получаете удовольствие от этого.
    </p>

    <mat-divider></mat-divider>
    <br>

    <p>
      <span class="spheres-descr_ex-panel_bold">Самореализация</span> - занимаетесь ли Вы чем-то, что может улучшить уровень Вашей жизни в будущем? Поможет найти новую работу, сменить страну проживания и тд.
    </p>

  </mat-expansion-panel>

</mat-accordion>
